/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
.border {
  text-align: center;
  max-width: 75%;
  border: 5px double black;
  margin-left: 12%;
  margin-top: 1%;
  margin-bottom: 1%;
}
header {
  display: flex;
  margin: 1%;
  font-size: 25px;
  height: 25px;
}
header nav {
  display: flex;
  text-decoration: none;
  justify-content: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
}
header nav a {
  background: #35caf0;
  color: #fff;
}
header nav a:hover {
  background: #fff;
  color: #35caf0;
}
.image img {
  display: flex;
  height: 200px;
  width: 50%;
  margin-left: 25%;
}
h1 {
  font-size: 35px;
  font-style: bold;
  text-align: center;
  margin: 5px;
}
h1:hover {
  font-size: 50px;
  color: black;
}
.address {
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  margin: 5px;
}
.address:hover {
  font-size: 35px;
  color: black;
}
.email {
  font-size: 20px;
  text-align: center;
}
.email a:hover {
  font-size: 35px;
  color: black;
}
.numbers {
  font-size: 20px;
  text-align: center;
}
.numbers .phone {
  height: 35px;
  border-radius: 5px;
  background: khaki;
  color: forestgreen;
}
.numbers .phone:hover {
  margin: 5px;
  font-size: 35px;
  background: forestgreen;
  color: khaki;
}
.numbers .cell {
  height: 35px;
  border-radius: 5px;
  background: khaki;
  color: forestgreen;
}
.numbers .cell:hover {
  margin: 5px;
  font-size: 35px;
  background: forestgreen;
  color: khaki;
}
