/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
}
.border {
  text-align: center;
  max-width: 98%;
  border: 5px double red;
  margin: 1%;
  background: black;
  color: #fff;
}
header {
  display: flex;
  margin: 1%;
  font-size: 25px;
  height: 25px;
}
header nav {
  display: flex;
  text-decoration: none;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
}
header button {
  border: 1px solid #fff;
  text-align: center;
  height: 50px;
  border-radius: 25px;
  background-color: red;
}
header button a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  color: #fff;
}
header button a:hover {
  background: #fff;
  color: red;
  border-radius: 25px;
}
.img {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin: 1%;
}
.programs {
  display: flex;
  border: 5px groove black;
  margin: 1%;
  background: red;
  color: #fff;
  margin-top: 5%;
}
.programs .list1 {
  width: 50%;
  margin: 1%;
  margin-left: 14%;
  font-family: "Courgette", cursive;
  font-size: 15px;
}
.programs .list1 h1 {
  font-size: 50px;
  text-decoration: underline;
  font-style: bold;
  margin: 1%;
  font-family: "Amatic SC", cursive;
}
.programs .list1 .mo h2 {
  font-size: 25px;
  font-style: italic;
  text-decoration: underline;
  font-family: "Indie Flower", cursive;
  margin: 1%;
}
.programs .list1 .mo li {
  list-style-type: circle;
}
.acs h2 {
  font-style: italic;
  text-decoration: underline;
  font-family: "Indie Flower", cursive;
  margin: 1%;
  font-size: 25px;
}
.acs li {
  list-style-type: circle;
}
.languages {
  display: flex;
  border: 5px groove black;
  margin: 1%;
  background: red;
  color: #fff;
}
.languages .list2 {
  width: 50%;
  margin: 1%;
  margin-left: 14%;
  font-family: "Courgette", cursive;
  font-size: 15px;
}
.languages .list2 .cl h1 {
  font-size: 50px;
  text-decoration: underline;
  font-style: bold;
  margin: 1%;
  font-family: "Amatic SC", cursive;
}
.languages .list2 .cl li {
  list-style-type: circle;
}
.other {
  display: flex;
  border: 5px groove black;
  margin: 1%;
  background: red;
  color: #fff;
}
.other .list3 {
  width: 50%;
  margin: 1%;
  margin-left: 14%;
  font-family: "Courgette", cursive;
  font-size: 15px;
}
.other .list3 .lo h1 {
  font-size: 50px;
  text-decoration: underline;
  font-style: bold;
  font-family: "Amatic SC", cursive;
  margin: 1%;
}
.other .list3 .lo li {
  list-style-type: circle;
}
